<!DOCTYPE html>
<html>

<form action="/verses/<%=@verse.id%>/journals/<%=@journal.id%>"method="post">
<input type="hidden" name="_method" value="patch">

<div>
  <label for="title">Title</label>
  <input type="textarea" name="title" id="title" value="<%=@journal.title%>">
</div>
    <br>
 
<div>
 <label for="date">Date: (00/00/0000)</label>
  <%=@journal.date%>
</div>
 
<div>
  <label for="book_name">Book:</label>
   <%= @verse.book_name %>
</div>

<div>
 <label for="chapter_number">Chapter number:</label>
 <%=@verse.chapter_number %>
</div>


<div>
 <label for="verse_number">Verse number:</label>
  <%=@verse.verse_number %>
</div>

<div>
  <label for="verse">Verse:</label>
  <%=@verse.verse %>
</div>
<br>

<div>
  <label for="interpretation">interpretation:</label>
  <input type="textbox" name='interpretation' id='interpretation' value="<%=@journal.interpretation %>">
</div>
<br>

<div>
 <label for="prayer">Prayer:</label>
 <input type="textarea" name="prayer" id="prayer" value="<%=@journal.prayer%>">
</div> 
<br>

<button type="submit" class="btn waves-effect waves-light">Update<i class="material-icons right"></i>
</button>

</form>
</html>