
<h1><%=@journal.title%> !</h1>


<p><h5>Date:</h5><%= @journal.date %></p>
<p><h5><%=@journal.verse.book_name%> <%=@journal.verse.chapter_number%>:<%=@journal.verse.verse_number%></h5></p>
<%=@journal.verse.verse%>
<p><h5>Prayer:</h5><%= @journal.prayer %></p>
<p><h5>Interpretation:</h5><%= @journal.interpretation %></p>



 <a href="/journals/<%= @journal.id%>/edit">Edit</a>


<form action="/journals/<%= @journal.id %>/delete" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="delete">
</form>


